asgiref==3.11.1
certifi==2026.6.17
PyJWT==2.10.1
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
gunicorn==23.0.0
pymongo==4.13.2
python-dotenv==1.2.2
tzdata==2026.2
whitenoise==6.9.0
